config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.accessors.chain = true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = false
lombok.equalsAndHashCode.callSuper = skip
lombok.toString.callSuper = skip
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.val.flagUsage = error
lombok.var.flagUsage = error
lombok.nonNull.flagUsage = error
lombok.allArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.cleanup.flagUsage = error 